.catan-cube {
    text-align: center;
    border: solid 2px #000000;
    width: 50px;
    height: 30px;
    font-weight: bold;
}

.black {
    background-color: black;
}

.yellow {
    background-color: #ffeb3b;
}

.green {
    background-color: #8bc34a;
}

.blue {
    background-color: #2196f3;
}
